<html>
    <body>
        <h1>luismibm</h1>
        <p class="divider">-+-+-+-+-</p>
        <p>Start somewhere.<br>Otherwise, you may not start at all.</p>
        <p class="divider">-+-+-+-+-</p>
        <p><a href="https://linkedin.com/in/luismibm">LinkedIn</a>, <a href="https://github.com/luismibm">GitHub</a></p>
    </body>
</html>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
    .syne-mono-regular {
        font-family: "Syne Mono", monospace;
        font-weight: 400;
        font-style: normal;
    }
    * {
        font-family: "Syne Mono";
        color: #353839;
        background-color: #d9d9d9;
    }
    .divider {
        color: #853953;
    }
</style>